body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

#wrapper {
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .top nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
    }

        .top nav ul li a {
            color: #777777;
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            transition: .5s all;
        }

            .top nav ul li a:hover {
                color: #000000;
            }

    .top .social {
        display: flex;
    }

        .top .social i {
            padding: 0 10px;
            font-size: 1.3em;
            color: #4267B2;
            transition: .5s all;
        }

            .top .social i:hover {
                color: #6283c5;
            }

header {
    background-image: url("../img/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 15vw;
}

    header h1 {
        margin: 0 0 0 20px;
        padding-top: 20px;
        background: rgba(255, 255, 255, 0.4);
        display: inline-block;
    }

        header h1 div {
            color: #ffffff;
        }

hr {
    border-color: grey;
}

main {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #777777;
    padding: 0 15%;
}

    main form legend {
        font-size: 1.2rem;
    }

    main form input {
        padding: 5px;
        margin-bottom: 10px;
    }

    main form select {
        padding: 5px;
        margin-bottom: 10px;
    }

    main article {
        width: 31%;
        margin: 1%;
    }

        main article a {
            text-decoration: none;
        }

            main article a:hover h3, main article a:active h3 {
                color: #000000;
            }

            main article a:hover img, main article a:active img {
                opacity: .7;
            }

        main article img {
            width: 100%;
            transition: .5s all;
        }

        main article h3 {
            color: #777;
            transition: .5s all;
        }

#weather p {
    font-size: 3em;
    margin: 0;
}

#weather img {
    width: 30%;
}

.index a {
    text-decoration: none;
    color: #ddd;
}

    .index a:hover {
        text-decoration: underline;
    }

.productView {
    width: 98%;
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
}

    .productView img {
        width: 36%;
        margin: 20px, 0;
        align-self: flex-start;
    }

    .productView div {
        width: 58%;
        margin: 10px, 0;
    }

        .productView div h1 {
            color: #777777;
            margin-bottom: 0;
        }

    .productView a {
        color: #ffffff;
        background: #777777;
        padding: 7px 12px;
        transition: all .5s;
    }

    .productView a:hover, .productView a:active {
        background: #aaaaaa;
    }

.addProducts {
    display: block;
    margin: 20px;
}

    .addProducts h1, label, p {
        color: #777;
    }

    .addProducts textarea {
        height: 100px;
        width: 300px;
    }


footer ul {
    list-style: none;
    padding: 0;
    text-align: center;
    color: #777777;
}

/* Responsive */
@media screen and (max-width: 1000px) {
    #wrapper {
        width: 100%;
    }
}

/*# sourceMappingURL=style.css.map */
